{% extends 'tradetracker/layout.html.twig' %}
{% block title %}Count!{% endblock %}
	{% block body %}
      <h1>Total Count of Person Records in MongoDB:</h1>
      <h2>{{ persons }}</h2></br>
     {% endblock %}